*{
    margin: 0px;
    box-sizing: border-box;
}
#box1{
    /* border: 2px solid black; */
    box-sizing: border-box;
height: 420px;
width: 100%;
border-radius: 2px;
background-color: #FFCD9E;
padding: 40px;
display: flex;
flex-wrap: wrap;

}

#box2{
    /* border:2px solid green; */
    height: 300px;
    background-color: #282828;
    width: 100%;
    padding: 30px;
}
 

#first_box{
    /* border: 2px solid red; */
    width: 55%;
    height: 374px;
    position: relative;
    top: 0px;
    left: 2px;
    padding: 0px 20px 0px 90px;
}

#image{
    /* border: 2px solid red; */
    height: 420px;
    width: 35%;
    position: absolute;
    top: 0px;
    right:80px;

}

#img1{
    height: 100%;
    width: 100%;
}
 
.box_first{
    display: inline-block;
}

#paragraph{
    font-weight: bold;
    padding: 20px 0px;
    font-size: 22px;
 }

#searchbar{
    border: 3px solid black;
    border-radius: 6px;
    height: 55px;
    width: 280px;
    padding: 20px;
    font-weight: bold;
    font-size: 15px;
    margin: 20px 0px;
}

#button{
    background-color: #282828;
    color: white;
    border-radius: 6px;
    height: 54px;
     width: 170px;
     margin: 0px 10px;
     font-size: 17px;
     font-weight: bold;
}



#first_line{
    
    font-weight: 900;
    font-size:39px;
    width:100%
    /* padding: 20px; */
}


#para{

    width: 100%;
color:#484848;
padding: 20px 0px;
font-size: 25px;


}

.last{
    color: white;
    display: flex;
}

#left{
    /* border:2px solid yellow; */
position: relative;
top: 40px;
left:108px;
width: 62%;
}

#right{
    /* border:2px solid pink; */
    position: absolute;
    top: 490px;
    right:-235px;
    width: 50%;
}

.li{
    padding: 7px;
    font-weight: 200px;
    font-size: 20px;
    list-style: none;

}
#rightli{
    text-align: right;
}

.fixedline{
    color: white;
    position: fixed;
    top: 395px;
    left: 200px;
}